<div class="row">
    <div class="column left" style="background-color: rgb(157, 169, 192);">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="list-user" role="tab" aria-controls="v-pills-home" aria-selected="true">List User</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Inventories</a>


        </div>
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"></div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
        </div>
    </div>

    <div class="column middle" style="background-color: rgb(81, 109, 187);">
        <div class="container">
            <div class="panel">
                <div class="panel-default">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8 jumbotron">
                            <form>
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input id="firstName" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="comment">Comment</label>
                                    <textarea id="comment" cols="30" rows="10" class="form-control"></textarea>
                                </div>
                                <button class="btn btn-primary">Submit</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="column right" style="background-color: rgb(27, 65, 136);">


</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small>Copyright &copy; Your Website</small>
    </div>
</footer>