body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
    font-size: 15px;
}

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #300404;
    background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

.submit {
    font-size: 20px;
}

#labelnewuser {
    margin-left: 200px;
}

#btnsubmit {
    font-size: 15px;
}